<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <div class="cart__item-list">
            <% if (products.length > 0) { %>                
                <ul>
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <h2><%= p.productId.title %></h2>
                            <h3>Price: $ <%= p.productId.price %></h3>
                            <h3>Quantity: <%= p.quantity %></h3>
                            <h3>Total: $ <%= p.totalPay %></h3>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= p.productId._id %>" name="productId">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn danger" type="submit">Delete</button>
                            </form>
                        </li>
                        
                    <% }) %>
                </ul>
                <div class="cart_pay">
                    <div class="cart__item_pay">
                        <h1>Total Pay:  </h1>
                        <h1>  $ <%= totalPay %></h1>
                    </div>
                </div >
                
                <hr>
                <div class="centered">
                    <form action="/create-order" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <button type="submit" class="btn">Order Now!</button>
                    </form>
                </div>
            </div>  
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>